.featured{
  height: 350px;
  display: flex;
  justify-content: center;
  background-color: #013914;
  color: white;
  .container{
    display: flex;
    align-items: center;
    width:1000px;
    .left{
      display: flex;
      flex-direction: column;
      gap: 30px;
      h1{
        font-size: 30px;
        i{
          font-weight: 300;
        }
      }
      .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;
        .searchInput{
          display: flex;
          align-items: center;
          gap: 10px;
          img{
            width: 20px;
            height: 20px;
            margin: 10px;
          }
          input{
            border: none;
            outline: none;
            width: 400px;
          }
        }
        button{
          height: 40px;
          width: 120px;
          border: none;
          background-color: #1dbf73;
          color: white;
          cursor: pointer;
        }
      }
      .popular{
        display: flex;
        align-items: center;
        gap: 10px;
        // justify-content: space-evenly;
        
        button{
          border-radius: 20px;
          background-color: transparent;
          border: 1px solid white;
          margin: 10px;
          padding: 5px 10px;
          font-size: 10px;
          color: white;

        }
      }

    }
    .right{
      height: 100%;
      img{
        height: 100%;
        object-fit: contain;
      }
       

    }

  }
}